body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: #00B7FF;
}

h1, p {
  text-align: center;
}


#container, #row, .row {
  align: center,

}

.container {
  border-style: solid,
  border: 5px solid black;
  text-align: center;
  margin: auto;
    width: 60%;
    border: 3px solid ;
    padding: 10px;
}

p {
  color: black;
}
